In [1]:
%load_ext autoreload
%autoreload 2

In [41]:
import meerkat as mk
import numpy as np
from glob import glob

In [85]:
# reveal new dataset's attribute and dimensions
# dp=mk.get("ngoa")["published_images"][:2000]
# dp = mk.get("imagenette", version="160px")[:2000]
dp = mk.get("imdb", registry="huggingface")
dp['train']['text'] = dp['train']['text'].to_pandas()
# dp = mk.get("coco", version="2014", download_mode="force")[:200] # WORKS, but 14 GB

[2022-11-02 00:34:45,437][WARNING][datasets.builder:739] :: Found cached dataset imdb (/Users/dakuowang/.cache/huggingface/datasets/imdb/plain_text/1.0.0/2fdd8b9bcadd6e7055e742a706876ba43f19faee861df134affd7a3f60fc38a1)

  0%|          | 0/3 [00:00<?, ?it/s]

In [86]:
dp['train'].head(2)

DataPanel(nrows: 2, ncols: 2)

In [4]:
# Set up your paths
DATA_DIR = '/Users/dakuowang/Desktop/FairytaleQA_Dataset/'
DOC_PATH = DATA_DIR + 'FairytaleQA_Dataset/split_by_origin'
SENTENCE_PATH = DATA_DIR + 'FairytaleQA_Dataset_Sentence_Split/split_by_origin'

In [5]:
DOC_PATH, SENTENCE_PATH

('/Users/dakuowang/Desktop/FairytaleQA_Dataset/FairytaleQA_Dataset/split_by_origin',
 '/Users/dakuowang/Desktop/FairytaleQA_Dataset/FairytaleQA_Dataset_Sentence_Split/split_by_origin')

## Document DataPanel
Load in the document data, from the 'FairytaleQA_Dataset/split_by_origin' directory.

In [6]:
# Create a Document DataPanel
doc_dp = mk.DataPanel({'path': glob(DOC_PATH + '/*/*.csv')}) # put in a column called 'path' with all the paths to the csv files

# Create some useful columns
doc_dp['source'] = doc_dp['path'].apply(lambda x: x.split('/')[-2]) # the source of the document e.g. "anderson-fairybook"
doc_dp['name'] = doc_dp['path'].apply(lambda x: x.split('/')[-1].split('.')[0]) # the name of the document e.g. "brave-tin-soldier-story.csv"
doc_dp['id'] = doc_dp['source'] + '/' + doc_dp['name'] # the id of the document e.g. "anderson-fairybook/brave-tin-soldier-story"

doc_dp.head(2) # note that the columns are "PandasSeriesColumns"

DataPanel(nrows: 2, ncols: 4)

In [7]:
doc_dp['type'] = doc_dp['name'].str.split("-").str.get(-1) # the type of document among [story, questions] -- here we use pandas string methods directly on the column

In [11]:
# Next, we can load each of the CSV files in: each CSV will be loaded as a DataPanel
# We can store these DataPanels inside the doc_dp DataPanel i.e. it's nested (this is convenient here)
def load_doc_csv(row):
    """
    Loader for a single document csv file. This function takes a row of the doc_dp DataPanel
    and returns a DataPanel with the contents of the csv file.

    row: a row from the doc_dp DataPanel
    """
    # Load the csv file from disk as a DataPanel
    doc_data = mk.DataPanel.from_csv(row['path']) # access the 'path'
    # Just add a doc_id column, so we know which document this CSV came from
    doc_data['doc_id'] = [row['id']] * len(doc_data) # access the 'id'
    return doc_data

doc_dp['section_dp'] = doc_dp.map(load_doc_csv) # .map will run the function on each line of the DataPanel and put the result in a new column called 'section_dp'
doc_dp # you should see a DataPanel with 6 columns (path, source, name, id, type, section_dp) and 556 rows

DataPanel(nrows: 556, ncols: 6)

In [12]:
# Split the doc_dp DataPanel into two DataPanels, one for stories and one for questions
story_doc_dp = doc_dp[doc_dp['type'] == 'story']
question_doc_dp = doc_dp[doc_dp['type'] == 'questions']
story_doc_dp.shape, question_doc_dp.shape

((276, 6), (276, 6))

In [13]:
story_doc_dp.head(2)

DataPanel(nrows: 2, ncols: 6)

In [14]:
# Magic: we can now access all the DataPanels inside story_doc_dp, concatenate them and get out a single DataPanel
story_doc_sections_dp = mk.concat(story_doc_dp['section_dp'])
story_doc_sections_dp.head(2)

DataPanel(nrows: 2, ncols: 3)

In [15]:
# Similarly, we can do this for the question DataPanels
try:
    # This doesn't work, because a couple of the question DataPanels have different columns
    question_doc_sections_dp = mk.concat(question_doc_dp['section_dp'])
except:
    # We can check which rows have different columns
    has_extra_column = np.where(question_doc_dp.map(lambda x: len(x['section_dp'].columns)) == 16)[0]
    print("These rows have an extra column, while all the others have 15 columns", has_extra_column) # 47, 109
    extra_column_name = set(question_doc_dp[47]['section_dp'].columns) - set(question_doc_dp[0]['section_dp'].columns)
    print("The extra column is called", extra_column_name) # called "comments"
    # We can fix this by dropping the extra column if it exists
    question_doc_dp['section_dp'] = question_doc_dp['section_dp'].map(lambda x: x.drop(extra_column_name, check_exists=False))
    # Now we can concatenate
    question_doc_sections_dp = mk.concat(question_doc_dp['section_dp'])
    
question_doc_sections_dp.head(2)

These rows have an extra column, while all the others have 15 columns [ 47 109]
The extra column is called {'comments'}

DataPanel(nrows: 2, ncols: 15)

In [16]:
# These are all the DataPanels we have so far, with their shapes
doc_dp.shape, story_doc_dp.shape, question_doc_dp.shape, story_doc_sections_dp.shape, question_doc_sections_dp.shape

((556, 6), (276, 6), (276, 6), (4071, 3), (10553, 15))

## Sentence DataPanel

In [17]:
# Create a Sentence DataPanel
sentence_dp = mk.DataPanel({'path': glob(SENTENCE_PATH + '/*/*.csv')}) # put in a column called 'path' with all the paths to the csv files

# Create some useful columns
sentence_dp['source'] = sentence_dp['path'].apply(lambda x: x.split('/')[-2]) # the source of the document e.g. "anderson-fairybook"
sentence_dp['name'] = sentence_dp['path'].apply(lambda x: x.split('/')[-1].split('.')[0]) # the name of the document e.g. "brave-tin-soldier-story.csv"
sentence_dp['id'] = sentence_dp['source'] + '/' + sentence_dp['name'] # the id of the document e.g. "anderson-fairybook/brave-tin-soldier-story"

sentence_dp.head(2) # note that the columns are "PandasSeriesColumns"

DataPanel(nrows: 2, ncols: 4)

In [18]:
sentence_dp['type'] = sentence_dp['name'].str.split("-").str.get(-1) # the type of document among [story, mrs] -- here we use pandas string methods directly on the column
sentence_dp['type'].unique()

array(['story', 'mrs'], dtype=object)

In [19]:
# Next, we can load each of the CSV files in: each CSV will be loaded as a DataPanel
# We can store these DataPanels inside the sentence_dp DataPanel i.e. it's nested (this is convenient here)
def load_sentence_csv(row):
    """
    Loader for a single sentence csv file. This function takes a row of the sentence_dp DataPanel
    and returns a DataPanel with the contents of the csv file.

    row: a row from the sentence_dp DataPanel
    """
    # Load the csv file from disk as a DataPanel
    sentence_data = mk.DataPanel.from_csv(row['path']) # access the 'path'
    # Just add a sentence_id column, so we know which document this CSV came from
    sentence_data['sentence_id'] = [row['id']] * len(sentence_data) # access the 'id'
    # Drop the `document_id` column, because we already have the `id` column
    sentence_data = sentence_data.drop('document_id')
    return sentence_data

sentence_dp['sentence_dp'] = sentence_dp.map(load_sentence_csv) # .map will run the function on each line of the DataPanel and put the result in a new column called 'sentence_dp'
sentence_dp # you should see a DataPanel with 6 columns (path, source, name, id, type, sentence_dp) and 278 rows

DataPanel(nrows: 278, ncols: 6)

In [20]:
# Split the sentence_dp DataPanel into two DataPanels, one for stories and one for mrs
story_sentence_dp = sentence_dp[sentence_dp['type'] == 'story']
mrs_sentence_dp = sentence_dp[sentence_dp['type'] == 'mrs']
story_sentence_dp.shape, mrs_sentence_dp.shape

((276, 6), (2, 6))

In [21]:
# Like before, we can now access all the DataPanels inside story_sentence_dp, concatenate them and get out a single DataPanel
story_sentence_sections_dp = mk.concat(story_sentence_dp['sentence_dp'].filter(lambda x: len(x) > 0)) # need to filter out the empty DataPanels
mrs_sentence_sections_dp = mk.concat(mrs_sentence_dp['sentence_dp'].filter(lambda x: len(x) > 0)) # need to filter out the empty DataPanels
sentence_sections_dp = mk.concat(sentence_dp['sentence_dp'].filter(lambda x: len(x) > 0)) # need to filter out the empty DataPanels

In [22]:
sentence_sections_dp.head(2)

DataPanel(nrows: 2, ncols: 2)

In [23]:
# These are all the DataPanels we have so far, with their shapes
sentence_dp.shape, story_sentence_dp.shape, mrs_sentence_dp.shape, story_sentence_sections_dp.shape, mrs_sentence_sections_dp.shape, sentence_sections_dp.shape

((278, 6), (276, 6), (2, 6), (25213, 2), (169, 2), (25382, 2))