In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
import meerkat as mk
import numpy as np
from glob import glob

In [4]:
# Set up your paths
DATA_DIR = '/Users/krandiash/Desktop/workspace/projects/datasci/data/FairytaleQA_Dataset/'
DOC_PATH = DATA_DIR + 'FairytaleQA_Dataset/split_by_origin'
SENTENCE_PATH = DATA_DIR + 'FairytaleQA_Dataset_Sentence_Split/split_by_origin'

In [5]:
DOC_PATH, SENTENCE_PATH

('/Users/krandiash/Desktop/workspace/projects/datasci/data/FairytaleQA_Dataset/FairytaleQA_Dataset/split_by_origin',
 '/Users/krandiash/Desktop/workspace/projects/datasci/data/FairytaleQA_Dataset/FairytaleQA_Dataset_Sentence_Split/split_by_origin')

## Document DataPanel
Load in the document data, from the 'FairytaleQA_Dataset/split_by_origin' directory.

In [6]:
# Create a Document DataPanel
doc_dp = mk.DataPanel({'path': glob(DOC_PATH + '/*/*.csv')}) # put in a column called 'path' with all the paths to the csv files

# Create some useful columns
doc_dp['source'] = doc_dp['path'].apply(lambda x: x.split('/')[-2]) # the source of the document e.g. "anderson-fairybook"
doc_dp['name'] = doc_dp['path'].apply(lambda x: x.split('/')[-1].split('.')[0]) # the name of the document e.g. "brave-tin-soldier-story.csv"
doc_dp['id'] = doc_dp['source'] + '/' + doc_dp['name'] # the id of the document e.g. "anderson-fairybook/brave-tin-soldier-story"

doc_dp.head(2) # note that the columns are "PandasSeriesColumns"

DataPanel(nrows: 2, ncols: 4)

In [7]:
doc_dp['type'] = doc_dp['name'].str.split("-").str.get(-1) # the type of document among [story, questions] -- here we use pandas string methods directly on the column

In [8]:
# Next, we can load each of the CSV files in: each CSV will be loaded as a DataPanel
# We can store these DataPanels inside the doc_dp DataPanel i.e. it's nested (this is convenient here)
def load_doc_csv(row):
    """
    Loader for a single document csv file. This function takes a row of the doc_dp DataPanel
    and returns a DataPanel with the contents of the csv file.

    row: a row from the doc_dp DataPanel
    """
    # Load the csv file from disk as a DataPanel
    doc_data = mk.DataPanel.from_csv(row['path']) # access the 'path'
    # Just add a doc_id column, so we know which document this CSV came from
    doc_data['doc_id'] = [row['id']] * len(doc_data) # access the 'id'
    return doc_data

doc_dp['section_dp'] = doc_dp.map(load_doc_csv) # .map will run the function on each line of the DataPanel and put the result in a new column called 'section_dp'
doc_dp # you should see a DataPanel with 6 columns (path, source, name, id, type, section_dp) and 556 rows

DataPanel(nrows: 556, ncols: 6)

In [9]:
# Split the doc_dp DataPanel into two DataPanels, one for stories and one for questions
story_doc_dp = doc_dp[doc_dp['type'] == 'story']
question_doc_dp = doc_dp[doc_dp['type'] == 'questions']
story_doc_dp.shape, question_doc_dp.shape

((276, 6), (276, 6))

In [10]:
story_doc_dp.head(2)

DataPanel(nrows: 2, ncols: 6)

In [11]:
# Magic: we can now access all the DataPanels inside story_doc_dp, concatenate them and get out a single DataPanel
story_doc_sections_dp = mk.concat(story_doc_dp['section_dp'])
story_doc_sections_dp.head(2)

DataPanel(nrows: 2, ncols: 3)

In [12]:
# Similarly, we can do this for the question DataPanels
try:
    # This doesn't work, because a couple of the question DataPanels have different columns
    question_doc_sections_dp = mk.concat(question_doc_dp['section_dp'])
except:
    # We can check which rows have different columns
    has_extra_column = np.where(question_doc_dp.map(lambda x: len(x['section_dp'].columns)) == 16)[0]
    print("These rows have an extra column, while all the others have 15 columns", has_extra_column) # 47, 109
    extra_column_name = set(question_doc_dp[47]['section_dp'].columns) - set(question_doc_dp[0]['section_dp'].columns)
    print("The extra column is called", extra_column_name) # called "comments"
    # We can fix this by dropping the extra column if it exists
    question_doc_dp['section_dp'] = question_doc_dp['section_dp'].map(lambda x: x.drop(extra_column_name, check_exists=False))
    # Now we can concatenate
    question_doc_sections_dp = mk.concat(question_doc_dp['section_dp'])
    
question_doc_sections_dp.head(2)

These rows have an extra column, while all the others have 15 columns [ 47 109]
The extra column is called {'comments'}

DataPanel(nrows: 2, ncols: 15)

In [13]:
# These are all the DataPanels we have so far, with their shapes
doc_dp.shape, story_doc_dp.shape, question_doc_dp.shape, story_doc_sections_dp.shape, question_doc_sections_dp.shape

((556, 6), (276, 6), (276, 6), (4071, 3), (10553, 15))

## Sentence DataPanel

In [14]:
# Create a Sentence DataPanel
sentence_dp = mk.DataPanel({'path': glob(SENTENCE_PATH + '/*/*.csv')}) # put in a column called 'path' with all the paths to the csv files

# Create some useful columns
sentence_dp['source'] = sentence_dp['path'].apply(lambda x: x.split('/')[-2]) # the source of the document e.g. "anderson-fairybook"
sentence_dp['name'] = sentence_dp['path'].apply(lambda x: x.split('/')[-1].split('.')[0]) # the name of the document e.g. "brave-tin-soldier-story.csv"
sentence_dp['id'] = sentence_dp['source'] + '/' + sentence_dp['name'] # the id of the document e.g. "anderson-fairybook/brave-tin-soldier-story"

sentence_dp.head(2) # note that the columns are "PandasSeriesColumns"

DataPanel(nrows: 2, ncols: 4)

In [15]:
sentence_dp['type'] = sentence_dp['name'].str.split("-").str.get(-1) # the type of document among [story, mrs] -- here we use pandas string methods directly on the column
sentence_dp['type'].unique()

array(['story', 'mrs'], dtype=object)

In [16]:
# Next, we can load each of the CSV files in: each CSV will be loaded as a DataPanel
# We can store these DataPanels inside the sentence_dp DataPanel i.e. it's nested (this is convenient here)
def load_sentence_csv(row):
    """
    Loader for a single sentence csv file. This function takes a row of the sentence_dp DataPanel
    and returns a DataPanel with the contents of the csv file.

    row: a row from the sentence_dp DataPanel
    """
    # Load the csv file from disk as a DataPanel
    sentence_data = mk.DataPanel.from_csv(row['path']) # access the 'path'
    # Just add a sentence_id column, so we know which document this CSV came from
    sentence_data['sentence_id'] = [row['id']] * len(sentence_data) # access the 'id'
    # Drop the `document_id` column, because we already have the `id` column
    sentence_data = sentence_data.drop('document_id')
    return sentence_data

sentence_dp['sentence_dp'] = sentence_dp.map(load_sentence_csv) # .map will run the function on each line of the DataPanel and put the result in a new column called 'sentence_dp'
sentence_dp # you should see a DataPanel with 6 columns (path, source, name, id, type, sentence_dp) and 278 rows

DataPanel(nrows: 278, ncols: 6)

In [17]:
# Split the sentence_dp DataPanel into two DataPanels, one for stories and one for mrs
story_sentence_dp = sentence_dp[sentence_dp['type'] == 'story']
mrs_sentence_dp = sentence_dp[sentence_dp['type'] == 'mrs']
story_sentence_dp.shape, mrs_sentence_dp.shape

((276, 6), (2, 6))

In [18]:
# Like before, we can now access all the DataPanels inside story_sentence_dp, concatenate them and get out a single DataPanel
story_sentence_sections_dp = mk.concat(story_sentence_dp['sentence_dp'].filter(lambda x: len(x) > 0)) # need to filter out the empty DataPanels
mrs_sentence_sections_dp = mk.concat(mrs_sentence_dp['sentence_dp'].filter(lambda x: len(x) > 0)) # need to filter out the empty DataPanels
sentence_sections_dp = mk.concat(sentence_dp['sentence_dp'].filter(lambda x: len(x) > 0)) # need to filter out the empty DataPanels

In [19]:
sentence_sections_dp.head(2)

DataPanel(nrows: 2, ncols: 2)

In [20]:
# These are all the DataPanels we have so far, with their shapes
sentence_dp.shape, story_sentence_dp.shape, mrs_sentence_dp.shape, story_sentence_sections_dp.shape, mrs_sentence_sections_dp.shape, sentence_sections_dp.shape

((278, 6), (276, 6), (2, 6), (25213, 2), (169, 2), (25382, 2))

In [21]:
sentence_dp

DataPanel(nrows: 278, ncols: 6)

In [25]:
" ".join(sentence_sections_dp[sentence_sections_dp['sentence_id'] == 'chinese-fairybook/laotsze-story']['text'])

'Laotsze is really older than heaven and earth put together. He is the Yellow Lord or Ancient, who created this world together with the other four. At various times he has appeared on earth, under various names. His most celebrated incarnation, however, is that of Laotsze, "The Old Child," which name he was given because he made his appearance on earth with white hair. He acquired all sorts of magic powers by means of which he extended his life-span. Once he hired a servant to do his bidding. He agreed to give him a hundred pieces of copper daily; yet he did not pay him, and finally he owed him seven million, two hundred thousand pieces of copper. Then he mounted a black steer and rode to the West. He wanted to take his servant along. But when they reached the Han-Gu pass, the servant refused to go further, and insisted on being paid. Yet Laotsze gave him nothing. When they came to the house of the guardian of the pass, red clouds appeared in the sky. The guardian understood this sign and knew that a holy man was drawing near. So he went out to meet him and took him into his house. He questioned him with regard to hidden knowledge, but Laotsze only stuck out his tongue at him and would not say a word. Nevertheless, the guardian of the pass treated him with the greatest respect in his home. Laotsze\'s servant told the servant of the guardian that his master owed him a great deal of money, and begged the latter to put in a good word for him. When the guardian\'s servant heard how large a sum it was, he was tempted to win so wealthy a man for a son-in-law, and he married him to his daughter. Finally the guardian heard of the matter and came to Laotsze together with the servant. Then Laotsze said to his servant: "You rascally servant. You really should have been dead long ago. I hired you, and since I was poor and could give you no money, I gave you a life-giving talisman to eat. That is how you still happen to be alive. I said to you: \'If you will follow me into the West, the land of Blessed Repose, I will pay you your wages in yellow gold. But you did not wish to do this.\'" And with that he patted his servant\'s neck. There upon the latter opened his mouth, and spat out the life-giving talisman. The magic signs written on it with cinnabar, quite fresh and well-preserved, might still be seen. But the servant suddenly collapsed and turned into a heap of dry bones. Then the guardian of the pass cast himself to earth and pleaded for him. He promised to pay the servant for Laotsze and begged the latter to restore him to life. So Laotsze placed the talisman among the bones and at once the servant came to life again. The guardian of the pass paid him his wages and dismissed him. Then he adored Laotsze as his master, and the latter taught him the art of eternal life, and left him his teachings, in five thousand words, which the guardian wrote down. The book which thus came into being is the Tao Teh King, "The Book of the Way and Life." Laotsze then disappeared from the eyes of men. The guardian of the pass however, followed his teachings, and was given a place among the immortals.'