In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import meerkat as mk

In [3]:
dp = mk.datasets.get("imagenette")

In [4]:
import meerkat.ops.groupby as gb
from meerkat import NumpyArrayColumn
import numpy as np
from meerkat import DataPanel
dp = DataPanel({
        'a': NumpyArrayColumn([1, 2, 2, 1, 3, 2, 3]),
        'name': NumpyArrayColumn(np.array(['sam', 'liam', 'sam', 'owen', 'liam', 'connor', 'connor'], dtype = str)),
        'b': NumpyArrayColumn([1, 2, 3, 4, 5, 6, 7]),
        'c': NumpyArrayColumn([1.0, 3.2, 2.1, 4.3, 5.4, 6.5, 7.6])
    })

df = gb.groupby(dp, by=['name', 'a'])

In [5]:
df['a'].mean()

DataPanel(nrows: 7, ncols: 2)