In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import meerkat as mk
import os
import numpy as np

In [3]:
test = mk.PandasSeriesColumn([3,2, 1])
test

PandasSeriesColumn(0    3
1    2...1
dtype: int64)

In [13]:
test.sort(ascending=True)

True

PandasSeriesColumn(2    1
1    2...3
dtype: int64)

In [3]:
test2 = mk.NumpyArrayColumn([3,2, 1])

In [3]:
test3 = mk.NumpyArrayColumn([3,1, 2])

In [4]:
test3.argsort(axis=0)

array([1, 2, 0])

In [6]:
test3.sort()

NumpyArrayColumn(array([1, 2, 3]))

In [26]:
test3.sort(ascending=False)

NumpyArrayColumn(array([3, 2, 1]))