In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import meerkat as mk
import os
import torch
import numpy as np

In [3]:
dp2 = mk.DataPanel({
    'text': mk.NumpyArrayColumn([1,5,1,4,3,4,4]), 
     'image': mk.NumpyArrayColumn([9,4,0,4,0,2,1]), 
    
}) 

dp2

DataPanel(nrows: 7, ncols: 2)

In [4]:
dp2.sort(by=["image", "text"])

# have to convert back to original type

DataPanel(nrows: 7, ncols: 2)

In [5]:
test2 = mk.PandasSeriesColumn([3,2, 1])

In [8]:
test2.shape

(3,)