In [1]:
%load_ext autoreload

%autoreload 2

In [2]:
import meerkat as mk
import os
import torch
import numpy as np
import pandas as pd

In [3]:
dp2 = mk.DataPanel({
    'text': mk.TensorColumn([1,5,1,4,3,4,4]), 
     'image': mk.PandasSeriesColumn([9,4,0,4,0,2,1]), 
    
}) 

dp2

DataPanel(nrows: 7, ncols: 2)

In [7]:
dp2.sort(by=["text", "image"], ascending=True)

<class 'meerkat.columns.numpy_column.NumpyArrayColumn'>
<class 'meerkat.columns.numpy_column.NumpyArrayColumn'>

DataPanel(nrows: 7, ncols: 2)

In [8]:
dp2["text"]

NumpyArrayColumn(array([1, 5, 1, 4, 3, 4, 4]))

In [5]:
test2 = mk.PandasSeriesColumn([3,2, 1])

In [3]:
test2 = mk.DataPanel({
    'tensor': mk.TensorColumn([3,1,2]), 
    'pandas': mk.PandasSeriesColumn([5,4,6]), 
    })

In [8]:
test1 = test2.sort(by=["tensor"])
test3 = test2.sort(by=["pandas"])

In [10]:
test1

DataPanel(nrows: 3, ncols: 2)