In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import meerkat as mk
import os
import numpy as np

In [3]:
test = mk.PandasSeriesColumn([3,2, 1])
test

PandasSeriesColumn(0    3
1    2...1
dtype: int64)

In [13]:
test.sort(ascending=True)

True

PandasSeriesColumn(2    1
1    2...3
dtype: int64)

In [3]:
test2 = mk.NumpyArrayColumn([3,2, 1])

In [3]:
test3 = mk.NumpyArrayColumn([3,1, 2])

In [4]:
test3.argsort(axis=0)

array([1, 2, 0])

In [6]:
test3.sort()

NumpyArrayColumn(array([1, 2, 3]))

In [26]:
test3.sort(ascending=False)

NumpyArrayColumn(array([3, 2, 1]))

In [3]:
test4 = mk.NumpyArrayColumn([[12,  5,  2,  4],
       [ 7,  6,  8,  8],
       [ 1,  6,  7,  7]])

In [4]:
test4.argsort()

Exception: No implementation for array with more than one column.

In [5]:
test5 = mk.PandasSeriesColumn([[12,  5,  2,  4],
       [ 7,  6,  8,  8],
       [ 1,  6,  7,  7]])

TypeError: super(type, obj): obj must be an instance or subtype of type

In [ ]:
test5.shape

(1,)

In [8]:
test5

PandasSeriesColumn(0    [12, 5, ...
dtype: object)

In [3]:
test6= mk.TensorColumn([ 0.0785,  1.5267, -0.8521,  0.4065])

In [4]:
test6

TensorColumn(tensor([ 0.07...521,  0.4065]))

In [16]:
test6.argsort()

tensor([2, 0, 3, 1])

In [9]:
test6.sort()

TensorColumn(tensor([-0.85...065,  1.5267]))